.fixedbutton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: dodgerblue;
}

.styles_kPagination__1qVvD {
  padding-left: 15px;

  .styles_kPaginationListPage__2_6Ph{
    position: fixed;
    bottom: 10px;
    right: 35%;
  }

}
